/************************** All Pages ***************************/

body {
  font-family: 'Roboto', sans-serif;
}

header {
  color: white;
  background-color: purple;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding: 20px 20px 20px 20px;
}

footer {
  color: white;
  background: purple;
  clear: both;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

ul {
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid gray;
}

#img-right {
  float: right;
  margin: 0px 0px 0px 10px;
}


/*Navbar*/

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #4d004d;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background: #111;
}

/************************** Landing Page *********************************/

#homepage {
  background: url(../img/swift.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#welcome-box {
  font-family: 'Righteous', cursive;
  width: 30%;
  background: black;
  opacity: 0.8;
  padding: 10px;
  color: white;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 35%;
  text-decoration: none;  
}

#welcome-box:hover { 
    color: black;
    background: white;
}



/************************** Biography Page ***************************/

#bio-content {
  margin: 0px 0px 0px 250px;
  border-left: 1px solid gray;
  padding: 10px 10px 10px 10px;
  height: 500px;
}

#list-top{
  float: left;
  width: 230px;
  margin: 0;
  padding: 10px;
  height: 500px;
}

#bio-video {
  border-top: 1px solid gray;
  padding: 40px 10px 10px 10px;
  clear: both;
}

#clear-img{
  clear: both;  
}


/************************** History Report ***************************/

#biography {
  margin: 0px 400px 0px 0px;
  border-right: 1px solid gray;
  padding: 10px;
  height: 800px;
}

#quiz {
  width: 380px;
  float: right;
  margin: 0;
  padding: 10px;
  height: 500px;
}

#question-one-solution {
  color: green;
  display: none;
}

#question-two-solution {
  color: green;
  display: none;
}

#quote-container {
  height: 200px;
}
#quotes {
  border-top: 1px solid gray;
  font-family: 'Old Standard TT', serif;
  height: 200px;
}

#video-container {
  float: right;
  background: pink;
}

/************************** Science Project ***************************/

#image-container {
  width: 600px;
  float: right;
  margin: 10px;
}

#chart-data {
  clear: both;
  margin: 0px;
  padding: 0px;
}

#chart-heading {
  text-align: center;
}

#sci-content {
  padding: 10px;
}
